<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">
      <b> EDUCATION </b></ion-title>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="background-container">
    <ion-card color="translucent">
      <ion-card-header>
        <img src="../../assets/school.jpg">
      </ion-card-header>
    </ion-card>

    <ion-card>
  
      <ion-card-header>
        <ion-card-title>Elementary</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Rosario East Central School - S.Y 2006-2012
      </ion-card-content>
    </ion-card>

    <ion-card>
  
      <ion-card-header>
        <ion-card-title>Junior High</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Rosario National Highschool - S.Y 2012-2016
      </ion-card-content>
    </ion-card>

    <ion-card>
  
      <ion-card-header>
        <ion-card-title>Senior High</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        LCC Silvercrest - S.Y 2016-2018
      </ion-card-content>
    </ion-card>

    <ion-card>
  
      <ion-card-header>
        <ion-card-title>College</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        BatStateU Alangilan - S.Y 2018-Present
      </ion-card-content>
    </ion-card>



  </div>
</ion-content>
